/* ======================
//	HOME PAGE STYLE START
=========================
*/
.intro-search a {
  background: #fa824c none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  height: 62px;
  line-height: 62px;
  margin-left: 6px;
  padding: 0 53px;
  text-align: left;
  width: 198px;
  margin-bottom: 10px;
}
.intro-search a:hover {
  background: #dd652f none repeat scroll 0 0;
}
.btn-white {
  background: #ffffff none repeat scroll 0 0 !important;
  color: #333333 !important;
}
.btn-white:hover {
  background: #ddd none repeat scroll 0 0;
}


/* STYLE CSS */
.steps-section {
  background: #eeeeee none repeat scroll 0 0;
  padding: 5px 0;
}
.steps-header{}
.steps-header>h3{}

.steps-section-2 {
  padding: 30px 0;
}

.steps-list{}
.steps-list > h4 {
  font-weight: bolder;
}
.steps-list>ul{}
.steps-list > ul > li {
  padding: 5px 0;
}
.steps-list > ul > li > span > img {
  display: inline-block;
  height: 35px;
  margin-right: 15px;
  width: 35px;
}


.content-part {
  background: #eeeeee none repeat scroll 0 0;
  padding: 30px 0;
}

.featured-logo-section {
  padding: 30px 0;
}
.logo-header-text {
  font-weight: bolder;
  margin: 14px 0 5px;
  text-align: right;
  text-transform: uppercase;
}
.featured-logo {
  display: flex;
  height: 40px;
  justify-content: center;
}
.featured-logo>img {
  height: 100%;
  width: auto;
}
.contant-description{}
.video-placeholder {
  background: #a8a9aa url("../images/video-holder-compressed.jpg") no-repeat scroll center center / cover ;
  border-radius: 15px;
  height: 354px;
  margin: 0 auto;
  max-height: 354px;
  max-width: 640px;
  position: relative;
  width: 100%;
}
.play-button {
  cursor: pointer;
  height: 100px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}
.play-button::after {
  background: #fa824c none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  content: "ï‹";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 50px;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  text-indent: 1.5rem;
  width: 10rem;
  z-index: 100;
}
.play-button:hover::after {
  background-color: #df582e;
}





.parking-apps-content {
  background: rgba(0, 0, 0, 0) url("../images/apps-bg.jpg") no-repeat fixed center center / cover ;
}
.parking-apps-for-bg {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  padding: 50px 0 0;
}

.apps-inage{}
.apps-inage>img{
  height: 380px;
}
.apps-content {
  padding: 70px 0;
}
.apps-content > h3 {
  color: #ffffff;
}
.apps-content > p {
  color: #dddddd;
  margin-bottom: 5px;
}
.apps-content > a {
  display: inline-block;
  height: 40px;
  margin-right: 3px;
  width: 130px;
}
/* ====================
//	HOME PAGE STYLE END
=======================
*/



/* =========================
//	FIND PARKING STYLE START
============================
*/
.navbar-section {
  margin-top: 110px;
}

.find-park-nav {
  border: medium none;
  border-radius: 0;
  margin-bottom: 0;
}
#final_search {
  background: #FA824C none repeat scroll 0 0;
  padding: 11px 40px;
  border: 1px solid #FA824C;
  border-radius: 4px;
  color: #fff;
  transition: 0.5s;
}

#final_search:hover {
  background: #c9511b none repeat scroll 0 0;
  border: 1px solid #c9511b;
}









#ui-datepicker-div{
	top: 55px  !important;
}

















