/************************************************************************************
smaller than 980 /768 to 1040/
*************************************************************************************/
@media screen and (max-width: 980px) {

	.ocean-grid2 > ul > .head-site {
	  text-align: left;
	}
	#partner .owl-controls .owl-buttons [class*="owl-prev"] {
    left: -15px;
  }
	#partner .owl-controls .owl-buttons [class*="owl-next"] {
    right: -15px;
  }
	.services .service-text {
	  font-size: 13px;
	}


  .maldives_about_visa_img {
    height: 300px;
  }
  .service-left-img, .service-right-img {
    background: none;
  }

}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {


.service-divider {
  padding: 40px 0 0;
}
.arena-service-section {
  padding-bottom: 0;
}
.special-promotions {
  padding: 20px 0 60px 20px;
}
.ocean-grid1 > a {
  margin: 15px 0;
}
.ocean-grid1 {
  padding: 12px 0 20px;
}
.ocean-grid2.for-xs {
  padding: 30px 0 0 15px;
}
.for-xs-l {
  text-align: left;
  padding: 0;
}
.right-sidebar-column {
  padding: 7px 5px;
}



.submenu > ul > li > a {
  padding: 5px 5px 0;
  letter-spacing: 0;
}
.navbar-default {
  height: 62px;
}
.navbar-header {
  display: block;
}
.navbar-brand {
  height: 40px;
  margin: 5px 0 0;
  padding: 0 0 0 10px;
}
.for-xs-nav {
  background: #6a172c none repeat scroll 0 0;
  margin-top: 10px;
  overflow: hidden;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #dddddd;
}



.maldives_about_visa_img {
  height: 300px;
}


}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

	

}

