<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <!-- 
  
                    <div class="form-group">
                        <input list="timezone" id="time" class="picker" placeholder="time">
                        <datalist id="timezone">
                          <option value="12:00am">
                          <option value="1:00am">
                          <option value="2:00am">
                          <option value="3:00am">
                          <option value="4:00am">
                          <option value="5:00am">
                          <option value="6:00am">
                          <option value="7:00am">
                          <option value="8:00am">
                          <option value="9:00am">
                          <option value="10:00am">
                          <option value="11:00am">
                          <option value="12:00pm">
                          <option value="1:00pm">
                          <option value="2:00pm">
                          <option value="3:00pm">
                          <option value="4:00pm">
                          <option value="5:00pm">
                          <option value="6:00pm">
                          <option value="7:00pm">
                          <option value="8:00pm">
                          <option value="9:00pm">
                          <option value="10:00pm">
                          <option value="11:00pm">
                        </datalist>
                    </div>


    -->
    <div id="map"></div>
    <script>
      
    var map, infoWindow;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 23.81054861928934, lng: 90.41211605072021},
          zoom: 8
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('<p class="map-infoWindow"><strong>Destination</strong><br>(you can drag this)</p>');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        }
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKf3D0CKv98W_EGTk5QfKANDh0CZuAlNc&callback=initMap">
    </script>
  </body>
</html>



<?php
                $today = date("Y-m-d");
                $this->db->where('to_date >=', $today); //previus date have show
                $this->db->where('reviews',1);
                $this->db->where('status',1);
                $this->db->order_by('id','desc');
                $this->db->limit(20);
                $query = $this->db->get('host');
                if ($query->num_rows()>0) {
                    foreach ($query->result_array() as $value) {
                ?>

                        <div class="listing mob-space30 space30">

                            <div class="col-md-2 pad0 hidden-xs col-sm-2">
                                <div class="listing-img bg-image" data-image-src="<?php echo base_url() ?>assets/images/icons/placeholder-parking.png">
                                    <div class="li-overlay">
                                        <div class="li-overlay-inner">
                                            <a href="<?php echo base_url() ?>home/host_rv/<?php echo $value['id'].'/'.preg_replace('/\s+/', '-', strtolower($value['title'])) ?>" target="_blank" class="link"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 pad0 col-sm-10">
                                <div class="listing-info">

                                    <div class="col-md-8 col-sm-8 col-xs-8 pad0">
                                        <h4 class="li-name">
                                            <a href="<?php echo base_url() ?>home/host_rv/<?php echo $value['id'].'/'.preg_replace('/\s+/', '-', strtolower($value['title'])) ?>" target="_blank"><?php echo $value['title']; ?>
                                            </a>
                                        </h4>
                                        <ul class="list-icon">
                                            <li> <i class="fa fa-map-marker"></i> <?php echo $value['location'] ?></li>
                                        </ul> <br>
                                        <ul class="list-review-icon">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-right">
                                        <h4 class="btn btn-default"><i class="fa fa-usd" aria-hidden="true"></i> <?php echo $value['amount'] ?></h4>
                                        <?php if ($value['book']==1) { ?>
                                          <button class="btn btn-book-now">Book now</button>
                                        <?php } ?>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>


                <?php }} ?>
























<?php


                                $this->db->where('m_userid', $this->session->userdata('airbnb'));
                                $this->db->where('hostid', $value->id);
                                $this->db->where('payment_status','success');
                                $this->db->where('status','1');
                                $pay_query = $this->db->get('payments');
                                if ($pay_query->num_rows()>0) {  ?>

                                    <p>
                                        <?php if (!empty($user_data->phone)) { ?>
                                        <i class="fa fa-phone-square"></i> <?php echo $user_data->phone; ?>
                                        <?php } ?>
                                    </p>
                                    <p>
                                        <?php if (!empty($user_data->email)) { ?>
                                        <i class="fa fa-fa fa-envelope-o"></i> <?php echo $user_data->email; ?>
                                        <?php } ?>
                                    </p>
                                    
                                <?php }else{ ?>
                                    

                                    <p><i class="fa fa-lock"></i> Contact information will be revealed here after you make a booking.</p>
                                <?php } ?>